/* styles.css */

.root {
    -fx-font-family: Arial, sans-serif;
}

.title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
    -fx-padding: 20 0 10 0;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #34495E;
}

.text-field {
    -fx-font-size: 14px;
    -fx-padding: 5;
}

.button {
    -fx-font-size: 14px;
    -fx-background-color: #2980B9;
    -fx-text-fill: white;
    -fx-padding: 5 10 5 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #3498DB;
}

.button:pressed {
    -fx-background-color: #1F618D;
}

.table-view {
    -fx-padding: 10;
    -fx-font-size: 14px;
}

.table-column {
    -fx-font-size: 14px;
    -fx-text-fill: #34495E;
}

.table-row-cell {
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #D6EAF8; /* Light blue background for selected rows */
    -fx-text-fill: #2C3E50; /* Dark text color for selected rows */
}

.table-row-cell:focused {
    -fx-background-color: #D6EAF8; /* Light blue background for focused rows */
}

.hbox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.vbox {
    -fx-spacing: 15;
    -fx-padding: 20;
}
